/* Add CSS Styling */ 
.left {
    background-color: rgb(0, 0, 0);
    color: hsl(0, 0%, 100%);
}

.right {
    background-color: rgb(255, 255, 0);
}

.button {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}